<template>
	<div>
		<v-app-bar app color="primary" dark>
			<div class="d-flex align-center">
				<div class="title">Secured Storage</div>
			</div>

			<v-spacer></v-spacer>
			<router-link to="/"><v-btn text dark> home</v-btn></router-link>
		</v-app-bar>

		<v-main>
			<router-view></router-view>
		</v-main>
	</div>
</template>

<script>
export default {
	name: 'App',

	components: {},

	data: () => ({
		//D
	})
}
</script>
