@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700;900&display=swap');

/* GLOBAL */
$body-font-family: "Poppins";

/* ELEVATION */
$shadow-key-umbra-opacity: rgba(#00509d, 0.05);
$shadow-key-penumbra-opacity: rgba(#00509d, 0.05);
$shadow-key-ambient-opacity: rgba(#00509d, 0.05);


/* FILLED TEXT FIELD */
$text-field-filled-border-radius: 4px
