<template>
	<div class="auth">
		<v-row style="min-height: 100vh" justify="center">
			<v-col
				cols="12"
				md="7"
				class="primary flex-grow-1 d-flex align-center justify-center flex-column"
			>
				<h1 class="text-center white--text text-uppercase">
					Secured Storage
				</h1>
				<h2 class="text-center white--text font-weight-light">
					Browse your files Safety
				</h2>
			</v-col>
			<v-col
				cols="12"
				md="5"
				class="flex-grow-1 d-flex align-center justify-center flex-column"
			>
				<router-view></router-view>
			</v-col>
		</v-row>
	</div>
</template>

<script>
export default {}
</script>

<style>
</style>
